# ignore python caches
/__pycache__/*
*.pyc

# ignore databases (new deployment should re-init their dbs)
*.db

# Ignore logs
/logs/*.log*

# Ignore the mosquitto config (machine dependent)
/configs/mosquitto.conf
/configs/mosquitto.auth

# Ignore tokens, and uploaded files
/tokens/*
/tokens/sysuser/*
/pkg/uploads/*
/cache/*

# except all .gitkeep
!*.gitkeep

# Ignore virtualenv stuff
/bin/*
/lib/*
/include/*
