<!-- This is for resource adding  IT IS NON PERMANENT. Add routes here for r-adding-->
<li><a><i class="fa fa-cube"></i>Resource Adding<span class="fa fa-chevron-down"></span></a>
<ul class="nav child_menu">

  <!--Generic Deployment-->
  <li><a href="{{ url_for('resource.radd', tablename = 'Param3') }}">New Param3 Object</a></li>
  <li><a href="{{ url_for('resource.radd', tablename = 'Standard_File') }}">Upload a file</a></li>

  <!--___________________NON PERMANENT GEOPOINT DEPLOYMENT_____________________-->
  <!--<li><a href="{{ url_for('resource.radd', tablename = 'Georoute') }}">Register New Georoute</a></li>
  <!--<li><a href="{{ url_for('resource.radd', tablename = 'Geopoint') }}">Register New Geopoint</a></li>
  <!--___________________/NON PERMANENT____________________-->

  <!--___________________NON PERMANENT ZFENCE DEPLOYMENT_____________________-->
  <!-- <li><a href="{{ url_for('resource.radd', tablename = 'Segment_Host') }}">New Segment Host</a></li>
  <li><a href="{{ url_for('resource.radd', tablename = 'IPCamera_Model') }}">Register IPCam Model</a></li>
  <li><a href="{{ url_for('resource.radd', tablename = 'Segment_Camera') }}">New Segment Camera</a></li> -->
  <!--___________________/NON PERMANENT____________________-->

</ul></li>
