<!-- This is for resource listing  IT IS NON PERMANENT. Add routes here for r-listing-->
<li><a><i class="fa fa-cubes"></i>Resource Listing<span class="fa fa-chevron-down"></span></a>
<ul class="nav child_menu">

  <li><a href="{{ url_for('resource.rlist', tablename = 'Param3') }}">List Param3 Object</a></li>

  <!--___________________NON PERMANENT GEOPOINT_____________________-->
  <!--<li><a href="{{ url_for('resource.radd', tablename = 'Georoute') }}">Register New Georoute</a></li>
  <!--<li><a href="{{ url_for('resource.radd', tablename = 'Geopoint') }}">Register New Geopoint</a></li>
  <!--___________________/NON PERMANENT____________________-->

  <!--___________________NON PERMANENT ZFENCE_____________________-->
  <!-- <li><a href="{{ url_for('resource.rlist', tablename = 'Segment_Host') }}">Segment Hosts</a></li>
  <li><a href="{{ url_for('resource.rlist', tablename = 'IPCamera_Model') }}">IPCam Models</a></li>
  <li><a href="{{ url_for('resource.rlist', tablename = 'Segment_Camera') }}">Segment Cameras</a></li> -->
  <!--___________________/NON PERMANENT____________________-->

</ul></li>
