<!-- THIS IS UNDER THE ADMIN SECTION ON THE SIDEBAR, this is
included in includes/_sidebar.html under the admin section, add
routes or links to routes here instead of the _sidebar.html file-->
<li><a><i class="fa fa-anchor"></i>Admin<span class="fa fa-chevron-down"></span></a>
<ul class="nav child_menu">

<li><a><i class="fa fa-user"></i>System Users<span class="fa fa-chevron-down"></span></a>
<ul class="nav child_menu">

	<!--System USERS_______SEMI_PERMANENT__________-->
	<li><a href="{{ url_for('sysuser.useradd') }}">Register System User</a></li>
	<li><a href="{{ url_for('sysuser.userlist') }}">List System Users</a></li>
	<li><a href="{{ url_for('sysutype.utypeadd') }}">Add User Type</a></li>
	<li><a href="{{ url_for('sysutype.utypelist') }}">List User Types</a></li>

</ul></li>

	<li><a href="{{ url_for('sysutilio.sysclock') }}">System Clock</a></li> <!--Flask socket io use cases-->
  <!--/Administrator's Column_______SEMI_PERMANENT__________-->

<li><a><i class="fa fa-bolt"></i>API Control<span class="fa fa-chevron-down"></span></a>
<ul class="nav child_menu">

	<!--MsgAPI Uses-->
	<li><a href="{{ url_for('resrc.radd',dbtype='msgapi',tablename='Msgapi_Users') }}">Add New MsgAPI Users</a></li>
	<li><a href="{{ url_for('resrc.rlist',dbtype='msgapi',tablename='Msgapi_Users') }}">List MsgAPI Users</a></li>
	<li><a href="{{ url_for('resrc.radd',dbtype='msgapi',tablename='MQTT_Broker_Configs') }}">Add New Broker Configs</a></li>
	<li><a href="{{ url_for('resrc.rlist',dbtype='msgapi',tablename='MQTT_Broker_Configs') }}">List MQTT Broker Configs</a></li>
	<li><a href="{{ url_for('resrc.radd',dbtype='msgapi',tablename='MQTT_Subs') }}">Add New RapidClient Subs</a></li>
	<li><a href="{{ url_for('resrc.rlist',dbtype='msgapi',tablename='MQTT_Subs') }}">List RapidClient Subs</a></li>

	<li><a href="{{ url_for('mqttio.servicectl') }}">Broker Control</a></li>


</ul></li>

</ul>
</li>
