<!-- THIS IS UNDER THE DATA VIEW SECTION ON THE SIDEBAR, this is
included in includes/_sidebar.html under the admin section, add
routes or links to routes here instead of the _sidebar.html file-->
<li><a><i class="fa fa-bar-chart-o"></i>Data View<span class="fa fa-chevron-down"></span></a>
<ul class="nav child_menu">
  <!--Insert database urls here-->
	<li><a href="{{ url_for('resrc.rlist',dbtype='msgapi',tablename='mqttclient_msgs') }}">MQTT RapidClient Message Stack</a></li>
	<li><a href="{{ url_for('resrc.rlist',dbtype='deploy',tablename='standard_logs') }}">Standard Message Stack</a></li>


</ul>
</li>
