<!-- THIS IS UNDER THE DEBUGGING SECTION ON THE SIDEBAR, this is
included in includes/_sidebar.html under the admin section, add
routes or links to routes here instead of the _sidebar.html file-->
<li><a><i class="fa fa-wrench"></i>Tools<span class="fa fa-chevron-down"></span></a>
<ul class="nav child_menu">

  <li><a href="{{ url_for('admintools.resetdb') }}"><i class="fa fa-warning"></i>Reset Dep DB</a></li>
  <li><a href="{{ url_for('admintools.totalreset') }}"><i class="fa fa-warning"></i>Reset All DB</a></li>


</ul>
</li>
